*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.main {
	/*padding: 200px auto;*/
	margin: 0px auto;
	background-color: yellow;
	padding-top: 50px;
	width: 500px;
}
.gridbox {
	margin: 50px;
	background-color: brown;
	width: 80%;
	/*padding: 50px;*/
}
.greybox {
	background-color: grey;
	width: 150px;
	height: 150px;
	margin: 50px;
	float: right;
	border-collapse: 
}
.clear:after {
	content: "";
	clear: both;
	display: block;
}